Flask==2.3.2
Flask-MySQLdb==0.2.0
mysqlclient==2.0.3
SQLAlchemy==2.0.15
Flask-WTF==1.1.1
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-Script==2.0.6
WTForms==3.0.1
email-validator==1.2.1
Jinja2==3.1.2
Werkzeug==2.3.4
